.project__article:hover {
  box-shadow: 0 0 10px rgb(10, 10, 10);
  transform: translateY(-5px);
  transition: 0.4s;
}

.project__items {
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .project__items {
    justify-content: center;
  }
}
