.project__article {
  user-select: none;
}

.project__article:hover {
  box-shadow: 0 0 10px rgb(10, 10, 10);
  transition: 0.4s;
}

.project__link {
  color: #ebebeb;
}

.project__link:hover {
  color: #ebebeb;
}

.project__items {
  justify-content: space-between;
}

.img__project {
  height: 9rem;
  object-fit: cover;
}

.img__footer--project:hover {
  transform: scale(1.15);
  transition: 0.4s;
}

.btn__ver-mas {
  cursor: none;
}

@media only screen and (max-width: 768px) {
  .project__items {
    justify-content: center;
  }
}
