.i {
  display: flex;
  flex-direction: column;
}

.i p {
  letter-spacing: 2px;
}

.img__redes {
  width: 5rem;
  transition: 0.2s;
}

.img__redes:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 748px) {
  .i {
    margin-bottom: 3rem;
    align-items: center;
  }

  .img__redes {
    width: 3.5rem;
  }
}

/* mouse scroll icon by: https://codepen.io/2xsamurai/pen/WwmjKQ  */
.scroll-downs {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
