.i {
  display: flex;
  flex-direction: column;
}

.i p {
  letter-spacing: 2px;
}

.i section {
  /* height: min-content; */
}

.img__redes {
  width: 5rem;
}

.img__redes:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

@media only screen and (max-width: 600px) {
  .i {
    margin-bottom: 3rem;
    align-items: center;
  }

  .img__redes {
    width: 3.5rem;
  }
}
