.letter__titles {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 3px;
  transition: all 0.2s;
  height: fit-content;
  animation: startAnimation 0.8s;
  user-select: none;
}

.letter__titles:hover {
  color: #e41f1f;
  transform: scale(1.3);
}

.letter__titles:hover {
  transform: scale(1.3);
}

.letter__titles:active {
  transform: scale(0.7);
}

@keyframes startAnimation {
  from {
    transform: scale(1, 1);
  }

  20% {
    transform: scale(1.3, 0.8);
  }

  40% {
    transform: scale(0.8, 1.3);
  }

  60% {
    transform: scale(1.15, 0.9);
  }

  80% {
    transform: scale(0.9, 1.15);
  }

  to {
    transform: scale(1, 1);
  }
  /* from {
    transform: scale(1, 1);
  }

  16% {
    transform: scale(1.3, 0.7);
  }

  33% {
    transform: scale(0.8, 1.2);
  }

  50% {
    transform: scale(1.2, 0.8);
  }

  66% {
    transform: scale(0.9, 1.1);
  }

  83% {
    transform: scale(1.1, 0.9);
  }

  to {
    transform: scale(1, 1);
  } */
}

@media only screen and (max-width: 768px) {
  .letter__titles {
    font-size: 3rem;
    animation: none;
  }
}
