.swiper-slide {
  transform: scale(0.9);
  transition: 0.5s;
}

.swiper-slide-active {
  transform: scale(1);
}

.icon__chevron:hover {
  transform: scale(1.2);
}

.icon__chevron:active {
  transform: scale(0.8);
}

@media only screen and (max-width: 768px) {
  .icon__chevron:hover {
    transform: none;
  }
}
