body {
  background-color: #212529;
  color: rgb(235, 235, 235);
  cursor: none;
}

a,
label,
input,
textarea,
div,
p {
  cursor: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(235, 235, 235);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
