a {
  text-decoration: none;
}

.img__stack {
  width: 4rem;
  transition: 0.2s;
}

a:hover .img__stack {
  transform: scale(1.1);
}

.text__stack {
  color: #ebebeb;
}

.text__stack:hover {
  color: #ebebeb;
}

@media only screen and (max-width: 768px) {
  .img__stack {
    width: 70%;
  }
}
